<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FTikTokManager">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Virtual Camera for Facebook (Replace Live Camera with Image)" />
        <meta-data android:name="xposedminversion" android:value="54" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|uiMode|density"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".VcamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".IpCheckerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProxyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LinksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
